@page "/test"
@using Chat.Blazor.Server.Services.Interfaces;
@inject ITestService TestService
@attribute [Authorize]

<h3>Message:</h3>
<h3>@result</h3>



@code {
    string result = "";
    protected override async Task OnInitializedAsync()
    {
        result = await TestService.GetTestMessage();
    }
}
