@using MudBlazor

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            Hello, @context.User.Identity!.Name!
            <UserMenu />
        </Authorized>
        <NotAuthorized>
            <a href="Register">Register</a>
            <a href="Login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


@code {
    private void Profile()
    {
        
    }
}