@using MudBlazor
@using Chat.Blazor.Server.Helpers.StateContainers;

@inject NavigationManager NavManager
@inject UserStateContainer _userStateContainer
@inject AuthenticationStateProvider _authStateProvider


<div>
    <MudMenu>
        <ActivatorContent>
            <MudAvatar Image="images\UserProfile.webp" />
        </ActivatorContent>
        <ChildContent>
            <MudMenuItem OnClick="GetProfile">Profile</MudMenuItem>
            <MudMenuItem OnClick="ChangePass">Change Password</MudMenuItem>
            <MudMenuItem OnClick="SignOut">Sign Out</MudMenuItem>
        </ChildContent>
           
    </MudMenu>
</div>
            

@code {
    private async Task GetProfile()
    {
        var userState = await _authStateProvider.GetAuthenticationStateAsync();
        var id = userState.User.Identity;
        NavManager.NavigateTo("/user/about/");
    }

    private void ChangePass()
    {
        NavManager.NavigateTo("/ChangePassword");
    }
    private void SignOut()
    {
        NavManager.NavigateTo("/LogOut");
    }
}

