@using MudBlazor
@inject NavigationManager NavManager

<div>
    <MudMenu>
        <ActivatorContent>
            <MudAvatar Image="images\UserProfile.webp" />
        </ActivatorContent>
        <ChildContent>
            <MudMenuItem OnClick="GetProfile">Profile</MudMenuItem>
            <MudMenuItem OnClick="ChangePass">Change Password</MudMenuItem>
            <MudMenuItem OnClick="SignOut">Sign Out</MudMenuItem>
        </ChildContent>
           
    </MudMenu>
</div>
            

@code {
    private void GetProfile()
    {
        NavManager.NavigateTo("/aboutuser");
    }

    private void ChangePass()
    {
        NavManager.NavigateTo("/ChangePassword");
    }
    private void SignOut()
    {
        NavManager.NavigateTo("/LogOut");
    }
}

